<section class="bg-danger d- row w-100 vh-100">
  <div>
    <div class="x" *ngFor="let item of fixtuer">
      {{ item | json}}
    </div>
  </div>
  <div
    class="offset-1 col-4 p-5 m-5 w-25 h-50 justify-content-center text-bg-success"
  >
    <button class="btn btn-warning p-2 m-2 fs-4" (click)="test()">
      ==== predictionH2H ====
    </button>
    <button class="btn btn-info p-2 m-2" (click)="test2()">
 Get predictionH2H 
    </button>
  </div>
  <div>
    {{ data | json }}
  </div>
  <div class="col-4 pt-5">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-info">Left</button>
      <button type="button" class="btn btn-warning">Middle</button>
      <button type="button" class="btn btn-success">Right</button>
    </div>
  </div>
</section>
