<section class="  row">
  <h5> socket </h5>
  <div>
    <div class="bg-success" *ngFor="let item of data">
      {{ item | json}}
      <hr>
    </div>
    <h5> log get</h5>
    <div class="bg-info" *ngFor="let item of data1">
  
      {{ item | json }}
      <hr>
    </div>
    <h5> log remove</h5>
    <div class="bg-warning" *ngFor="let item of data2">
      {{ item | json }}
      <hr>
    </div>
  </div>
  <div
    class="offset-1 col-4 p-5 m-5 w-25 h-50 justify-content-center text-bg-success"
  >
    <button class="btn btn-warning p-2 m-2 fs-4" (click)="test()">
      ==== predictionH2H ====
    </button>
    <button class="btn btn-info p-2 m-2" (click)="test2()">
 Get predictionH2H 
    </button>
    <button class="btn btn-info p-2 m-2" (click)="test3()">
      Rm predictionH2H 
         </button>
  </div>
 
  <div class="col-4">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-info">Left</button>
      <button type="button" class="btn btn-warning">Middle</button>
      <button type="button" class="btn btn-success">Right</button>
    </div>
  </div>
</section>
